@media screen and (orientation: landscape) {
    .force-portrait-orientation {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      overflow: hidden;
    }

    .force-portrait-orientation section.hero.is-fullheight {
      height: 100vw;
      width: 100vh;
      min-height: 100vw;
      min-width: 100vh;
    }

    .force-portrait-orientation .video-background {
      width: 100vh !important;
      height: 100vw !important;
    }

    .force-portrait-orientation .video-background iframe {
      width: 400vh !important;
      height: 400vw !important;
      top: -150% !important;
      position: relative !important;
    }

    .force-portrait-orientation .archillect-bg-image {
      width: 100vh !important;
      height: 100vw !important;
    }

    .force-portrait-orientation .archillect-bg-image .archillect-image {
      width: 100vh !important;
      height: 100vw !important;
    }
  }
